{% extends 'base.html' %}
{% block content %}

<h1>Who's That Pokemon?</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">It's {{ pokemon.name }}!</span>
        <p>Type: {{ pokemon.type }}</p>
        <p>Height (m): {{ pokemon.height }}</p>
        <p>Weight (kg): {{ pokemon.weight }}</p>
        <p>Level: {{ pokemon.level }}</p>
        <p>Description: {{ pokemon.description|linebreaks }}</p>
        {% if pokemon.age > 0 %}
          <p>Age: {{ pokemon.age }}</p>
        {% else %}
          <p>Age: unknown</p>
        {% endif %}
      </div>
      <div class="card-action">
      <a href="{% url 'pokemons_update' pokemon.id %}">Change</a>
      <a href="{% url 'pokemons_delete' pokemon.id %}">Free</a>
    </div>
  </div>
</div>
<div class="col s6">
  <form action="{% url 'add_move' pokemon.id %}" method="POST">
    {% csrf_token %}
    {{ move_form.as_p }}
    <input type="submit" class="btn" value="Learn a New Move">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Move</th><th>Type</th></tr>
    </thead>
    <tbody>
      {% for move in pokemon.move_set.all %}
        <tr>
          <td>{{move.move_name}}</td>
          <td>{{move.get_move_type_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ pokemon.name }}'s Vapes</h3>
      {% if pokemon.vapes.count %}
        {% for vape in pokemon.vapes.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="flavor: {{ vape.flavor }}">{{ vape.flavor }}</span> {{ vape.brand }}
              </span>
              <div class="card-action">
                <form action="{% url 'unassoc_vape' pokemon.id vape.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn">Remove</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Vapes</h5>
      {% endif %}
    </div>
    <!-- New Markup Below -->
  <div class="col s6">
    <h3>Available Vapes</h3>
    {% if vapes.count %}
      {% for vape in vapes.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="flavor: {{ vape.flavor }}">{{ vape.flavor }}</span> {{ vape.brand }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_vape' pokemon.id vape.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pokemon.name}} Already Has All Vapes Available</h5>
    {% endif %}
  </div>
</div>
<script>
const selectEl = document.getElementById('id_move_type');
M.FormSelect.init(selectEl);
</script>
{% endblock %}